.header
.div
  .wrapper
    = render "layouts/template/side_bar"

    .contents
      .contents__title
        .--edit
        =link_to edit_group_path(current_user), class:"btn" do
          %p.edit Edit
        .__name
          %p.name
            = @group.name

        .--menber
          %p.menber 
            Member :
            - @group.users.each do |user|
              = user.name
      .contents__text
        = render @messages

      .contents__form


        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
